<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="formWrapper">
      <h1>Log into your account</h1>
      <form class="formContainer" action="/log-in" method="POST">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          placeholder="Enter your username"
          type="text"
          value="<%= old.username %>"
        />
        <% if (errors.username) {%>
            <div class="error"><%= errors.username.msg %></div>
        <% } %>
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Enter your password"
        />
        <% if (errors.password) {%>
            <div class="error"><%= errors.password.msg %></div>
            <% } %>
            <% if (authError) { %>
                <div class="error"><%= authError %></div>
              <% } %>
        <button type="submit">Log In</button>
        <div class="signupWrapper">
            <p>Don't have an account? <a class="signupLink" href="/sign-up">Sign up</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
